<launch>


  <node name="detections_viz" pkg="vision_viz" type="detections_viz" output="screen">
    <remap from="/detections_viz/image_in/compressed" to="/jetbot_camera/raw/compressed"/>
    <remap from="/detections_viz/detections" to="/detectnet/detections"/>
    <remap from="/detections_viz/vision_info" to="/detectnet/vision_info"/>

    <param name="line_thickness" value="2"/>
    <param name="font_thickness" value="1"/>
    <param name="font_scale" value="0.5"/>
    <param name="detect_delay_lb_ms" value="0"/>
    <param name="age_penalty" value="1.0"/>
  </node>


  <node name="viewer" pkg="rqt_image_view" type="rqt_image_view" args="/detections_viz/image_out" output="screen"/>

</launch>
